/*
body
    {
        margin: 20px;
        border: 5px solid green;
    }

div
    {
        margin: 3px;
        border: 1px solid blue;

    }



div
    {
        margin: 1px;
        border: 1px solid blue;

    }

*/